.bonus {
  font-size: 1rem;
  list-style: none;
  margin: 5px 0;
  position: relative;
}

.icon {
  --icon-size: 1.3rem;
  min-width: var(--icon-size);
  max-width: var(--icon-size);
  height: var(--icon-size);
  position: absolute;
  top: 50%;
  left: 0;
  translate: calc(-100% - 10px) -50%;
}