.form {
  width: min(80%, 500px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2dvh;
  background-color: transparent;
  padding: 5px;
  position: relative;
}

.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dualInputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.childInputFlex1 {
  flex: 1;
}

.childInputFlex2 {
  flex: 2;
}

.childInputFlex3 {
  flex: 3;
}

.button {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid var(--font-color-light);
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--font-color-light);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: scale 0.1s linear;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  scale: 0.95;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  translate: -5px -100%;
  background-color: transparent;
  border: none;
  color: red;
  opacity: 0.5;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: scale 0.1s linear;
}

.closeButton:hover {
  opacity: 1;
}

.closeButton:active {
  scale: 0.9;
}

.closeButton:disabled {
  opacity: 0;
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-aspect-ratio: 2/3) {
  .form {
    width: 90%;
  }

  .dualInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .childInputFlex1 {
    flex: 1;
    width: 100%;
  }

  .childInputFlex2 {
    flex: 1;
    width: 100%;
  }

  .childInputFlex3 {
    flex: 1;
    width: 100%;
  }
}