.container {
  width: 45%;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2dvw;
  --icon-size: clamp(10px, 10dvmin, 100px);
}

.icon {
  min-width: var(--icon-size);
  max-width: var(--icon-size);
  height: var(--icon-size);
}

.text {
  font-size: 0.9rem;
}

@media (max-aspect-ratio: 2/3) {
  .container {
    width: 90%;
    gap: 1rem;
  }

  .text {
    font-size: 1rem;
  }
}