.container {
  width: 100%;
  min-width: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  text-overflow: ellipsis;
  background-color: white;
  border: 2px solid white;
  border-radius: var(--border-radius);
  padding: 0 15px;
  padding-top: 20px;
}

.input,
.textarea {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-family: inherit;
}

.textarea {
  overflow: auto;
  resize: none;
}

.container:has(.input:focus, .textarea:focus) {
  border-color: var(--color-accent);
}

.container:has(.error) {
  border-color: red;
}

.input:-internal-autofill-selected,
.input:-webkit-autofill,
.textarea:-internal-autofill-selected,
.textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.label {
  position: absolute;
  max-width: calc(100% - 2 * 15px);
  left: 15px;
  top: 50%;
  translate: 0 -50%;
  pointer-events: none;
  color: var(--font-color-dark);
  /* opacity: 0.5; */
  font-size: 16px;
  transition: top 0.3s, color 0.3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:is(.input:focus,
  .textarea:focus,
  .input:autofill,
  .input.input:-webkit-autofill,
  .filled)~.label {
  top: 10px;
  font-size: 12px;
  opacity: 1;
  color: var(--color-accent);
}

.errorMessage {
  max-width: 100%;
  color: red;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.errorIcon {
  margin-right: 5px;
}

@media (max-aspect-ratio: 2/3) {

  .input,
  .textarea {
    font-size: 0.7rem;
  }

  .label {
    font-size: 0.5rem;
  }

  :is(.input:focus,
    .textarea:focus,
    .input:autofill,
    .input.input:-webkit-autofill,
    .filled)~.label {
    font-size: 0.5rem;
  }

  .errorMessage {
    font-size: 0.5rem;
  }
}