:root {
  --min-width: 280px;
  --max-width: 1400px;
  --min-height: 300px;
  --border-radius: 12px;
  --font: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-color-light: white;
  --font-color-dark: black;

  --color-accent: #72CE14;
  --color-accent-rgb: 114, 206, 20;
  --color-accent-background: #EDEDED;

  --color-accent-filter: invert(90%) sepia(15%) saturate(4551%) hue-rotate(33deg) brightness(85%) contrast(90%);
  --color-accent-background-filter: invert(100%) sepia(2%) saturate(5216%) hue-rotate(204deg) brightness(119%) contrast(86%);
  --color-light-filter: invert(100%) sepia(1%) saturate(1668%) hue-rotate(321deg) brightness(110%) contrast(100%);

  font-size: clamp(12px, 4dvmin, 40px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

body {
  color: var(--font-color-dark);
}

a {
  color: inherit;
  text-decoration: none;
}