.container {
  width: 45%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.containerWithArrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10%;
}

.containerWithoutArrow {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
}

.links {
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: max(2vh, 10px);
}

.imageContainer {
  aspect-ratio: 1/1;
  width: clamp(100px, 100%, 400px);
  min-height: 100px;
  max-height: 100%;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}

.textWithArrow {
  position: absolute;
  top: 0;
  right: 0;
  translate: 100% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1vh;
  width: 50%;
}

.arrowContainer {
  --icon-size: 4rem;
  min-width: var(--icon-size);
  max-width: var(--icon-size);
  height: var(--icon-size);
}

.text {
  color: var(--font-color-light);
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.socialNetworks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-aspect-ratio: 2/3) {
  .container {
    width: 90%;
  }

  .imageContainer {
    width: 100%;
  }
}