.container {
  flex: 1;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2dvh;
}

.picture {
  aspect-ratio: 1/1;
  width: clamp(100px, min(40dvmin, 80%), 400px);
  min-height: 100px;
  max-height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.name {
  max-width: 90%;
  overflow-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
}