.container {
  width: 100%;
  height: calc(100% - 270px);
  height: calc(100% - 0dvh);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: max(30px, 2vw);
  padding: 5%;
}

.divider {
  height: 80%;
  border: 2px solid white;
}

@media (max-aspect-ratio: 2/3) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5vh;
    padding: 10vh 5vw;
  }
}