.container {
  --icon-size: clamp(40px, 6dvw, 80px);
  min-width: var(--icon-size);
  max-width: var(--icon-size);
  height: var(--icon-size);
}

@media (max-aspect-ratio: 2/3) {
  .container {
    --icon-size: 2.5rem;
  }
}